/*--------------- ARTICLE COMPONENTS -------------*/

.mainBody__smallerArticleTitles {
    font-weight: bold;
}

.mainBody__articleParagraph {
    float: left;
    padding-top: 10px;
    font-size: 14px;
    color: #686868;
}

.mainBody__authorAvatarBig {
    border-radius: 50%;
    float: left;
}

.mainBody__authorAvatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    float: left;
}

.mainBody__authorNameBig {
    font-style: italic;
    font-size: 13px;
    color: var(--grey);
    float: left;
    padding-left: 5px;
}

.mainBody__authorName {
    font-style: italic;
    font-size: 13px;
    color: var(--grey);
    float: left;
    padding-left: 5px;
}

.mainBody__categoryText {
    margin: 3px;
    font-size: 10px;
}

.mainBody__headArticleColumn {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mainBody__featuredArticleColumn {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.mainBody__defaultArticleColumn {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mainBody__readMoreText {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: var(--white);
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: var(--white) solid 1px;
    cursor: pointer;
}

.mainBody__articleImageWrapper:hover .mainBody__readMoreText {
    animation-delay: 20ms;
    transition: 0.3s ease;
    opacity: 1;
}

.mainBody__articleImageWrapper {
    position: relative;
}

.mainBody__readMoreText2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: var(--white) solid 1px;
    cursor: pointer;
}

.mainBody__articleImageWrapper2 {
    position: relative;
}

.mainBody__articleImageWrapper2:hover .mainBody__readMoreText2 {
    animation-delay: 20ms;
    transition: 0.3s ease;
    opacity: 1
}

/* ------------- MOBILE/RESPONSIVITY -------------*/

@media (min-width: 750px) {
    .mainBody__headArticleColumn {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .mainBody__featuredArticleColumn {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .mainBody__defaultArticleColumn {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
}