/* ------------ ANIMATIONS -------------*/

@keyframes loading{
    0% {transform: translate(0px,0px) scale(0.5,0.5);background:grey; opacity: 0.2;}
    100% {transform: translate(0px,0px) scale(1.5,1.5); background:black; opacity: 1;}
}
@keyframes mobileMenuTranslate{
    from {transform: translate(-100px,0px);};
    to {transform: translate(0px.0px);};
}
@keyframes homePageFadeIn{
    from {opacity: 0;}
    to{opacity: 1;}
}